<h1>NEW JOBS</h1>

<form action="/ingredient" method="post">
	<input type="text" name="job" placeholder="job">
	<input type="text" name="company" placeholder="company">
	<button>Submit</button>
</form>